<div class="container" [ngClass]="{'in-electron': isRunningInElectron}">
    <nav>
        <header>
            SG online Radio Player
        </header>
    </nav>

    <app-display [iStation]="iCurrentStation" [iPreference]="iPreference"></app-display>

    <app-settings class="toolbar" [iPreference]="iPreference" (onToggle)="onChangePreference($event)"></app-settings>

    <app-list [stations]="stations" (onPlayStation)="onPlayStation($event)" [iPreference]="iPreference"></app-list>

    <div class="status">{{status}}</div>
</div>
