<div [class.selected]="selected==station"
     class="row"
     *ngFor="let station of stations">
  <div>{{station.name}}
    <md-icon style="font-size: 12px" (click)="toggleFavorite(station)">
      {{station.favorite? 'favorite':'favorite_bordered'}}
    </md-icon>
  </div>
  <!--<button>{{station.action}}</button>-->
  <span class="play-button" [hidden]="station.action !== 'Play'" (click)="playStation(station)">
    <md-icon>play_circle_filled</md-icon>
    <md-icon>play_circle_outlined</md-icon>
  </span>

  <span class="pause-button" [hidden]="station.action !== 'Pause'" (click)="pauseStation(station)">
    <md-icon>pause_circle_filled</md-icon>
    <md-icon>pause_circle_outlined</md-icon>
  </span>
</div>
