<div class="indent">
    <div class="station-info">
            <div class="title">
                {{name}}
            </div>

            <div class="song-info">
                <div class="left">
                    <div class="current_playing">
                        {{title}}
                    </div>
                    <div class="current_author">
                        {{author}}
                    </div>
                </div>
                <div class="right">
                    <img src="{{coverUrl}}">
                </div>
            </div>
    </div>
    <app-visual-sound></app-visual-sound>
</div>