<div class="indent">
    <div class="station-info">
        <div *ngIf="iStation">
            <div class="title">
                {{iStation.get('name')}}
            </div>

            <div class="song-info">
                <div class="left">
                    <div class="current_playing">
                        {{currentTrack}}
                    </div>
                    <div class="current_author">
                        {{currentArtist}}
                    </div>
                </div>
                <div class="right">
                    <img src="{{currentCoverUrl || getDefaultCover(iStation)}}">
                </div>
            </div>
        </div>
    </div>
    <app-visual-sound></app-visual-sound>
</div>

<app-timer id="timer" [pause]="paused"></app-timer>
